
/*

	Author:		Conner Batson
	Date:		5/23/2022
	Name:		darkOrangeCube
	Overview:	Dark Orange Cube Glow Animation
	Last Edit:	5/23/2022

*/

.darkOrange_box
{
	position: relative;
	width: 150px;
	height: 150px;
	transform-style: preserve-3d;
	transform: rotateX(-30deg);
	animation: animate 4s linear infinite;
}

@keyframes animate
{
	0%
	{
		transform: rotateX(-30deg) rotateY(0deg);
	}
	100%
	{
		transform: rotateX(-30deg) rotateY(360deg);
	}
}

.darkOrange_box div
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
}

.darkOrange_box div span
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#151515, #ff8c00);
	transform: rotateY(calc(90deg * var(--i))) translateZ(75px);
}

.darkOrange_box_top
{
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: #222;
	transform: rotateX(90deg) translateZ(75px);
}

.darkOrange_box_top::before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: #ff8c00;
	transform: translateZ(-190px);
	filter: blur(20px);
	box-shadow: 0 0 120px rgba(255, 140, 0,0.2),
	0 0 100px rgba(255, 140, 0,0.4), 
	0 0 150px rgba(255, 140, 0,0.6), 
	0 0 200px rgba(255, 140, 0,0.8), 
	0 0 250px rgba(255, 140, 0,1);
}



