* 
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body 
{
	background: black;
	Scrollbar: auto;
	height: 100vh;
}

.parent
{
	justify-content: left;
	width: auto;
	display: flex;
}

.box-container
{
	margin-right: 250px;
	position: relative;
}

.box_side1 {
	width: 200px;
	height: 200px;
	transform: skewY(30deg) translateY(200px);
	z-index: 3;
}

.box_side2 {
	width: 200px;
	height: 200px;
	transform: skewY(-30deg) translateX(200px) translateY(115px);
	z-index: 3;
}
.box_top {
	width: 200px;
	height: 200px;
	transform: rotateZ(-45deg) skew(15deg, 15deg) translateX(410px) translateY(-300px) scaleX(1.1) scaleY(1.1);
	z-index: 3;
}

.center {
	position: Window.innerWidth / 2;
}

